[submodule "staticSite/themes/docsy"]
	path = staticSite/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "themes/learn"]
	path = themes/learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "idiomas/themes/learn"]
	path = idiomas/themes/learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "main/themes/syna"]
	path = main/themes/syna
	url = https://git.okkur.org/syna
[submodule "ejemplo/hugo-theme-relearn"]
	path = ejemplo/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "mario/themes/shadocs"]
	path = mario/themes/shadocs
	url = https://github.com/jgazeau/shadocs.git
